body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-btn {
  transition: all 0.2s ease-in-out;
}

.custom-btn:hover {
  scale: 1.02;
}

.main-dog {
  height: 500px;
}

@media screen and (max-width: 576px) {
  .main-dog {
    height: 300px;
  }
}
